@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  color: darkblue;
  background-color: ivory;
  margin: 10px 50px;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
}

img {
  float: left;
  margin-right: 15px;
  margin-right: 10px;
}

section {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid darkblue;
  border-radius: 5px;
}

.navbar {
  background-color: #eee;
  padding: 10px;
  text-align: center;
}


a.nav-link {
  color: white;
}

.navbar a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.columns {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.columns section {
  width: 300px;
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
}
